<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCASx59p1NZWK7ewE5UkdBErE3ZAoQg7Do</string>
	<key>GCM_SENDER_ID</key>
	<string>978364652627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookmark</string>
	<key>PROJECT_ID</key>
	<string>fire-bm-48c62</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-bm-48c62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978364652627:ios:383aa4c78cd0496449baa6</string>
</dict>
</plist>